/*------ IMPORT FONT ------*/
@font-face{
	font-family: PlusJakarta;
	src: url('../fonts/PlusJakartaText-Regular.otf');
}

/*------ HTML SETTINGS ------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: PlusJakarta;
}

/*------ NAV SECTION ------*/
.responsive-bar{
	display: none;
}

.responsive-bar span{
	width: 40px;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding: 20px 40px;
	box-sizing: border-box;
	transition: 0.5s;
	z-index: 98;
}

.nav-scrolled{
	background: rgba(255, 255, 255, 0.95);
	transition: 0.2s;
}

nav .logo{
	float: left;
}

nav .logo img{
	transition: 0.5s;
}

nav ul{
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li p{
	cursor: default;
}

nav ul li span{
	padding-left: 10px;
}

nav ul li a{
	line-height: 30px;
	color: #000;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s;
}

nav ul li a.active{
	color: #fff !important;
	background: #ff523b;
}

nav ul li a:hover{
	color: #ff523b;
}


.search{
	position: relative;
	width: 40%;
	height: 40px;
	background: #fff;
	border: 1px solid #ff523b;
	border-radius: 60px;
	transition: 0.5s;
	overflow: hidden;
}

.search-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 90;
}

.search-icon::before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border: 3px solid #ff523b;
	border-radius: 50%;
	transform: translate(-4px, -4px);

}

.search-icon::after{
	content: '';
	position: absolute;
	width: 3px;
	height: 12px;
	background: #ff523b;
	border-radius: 2px;
	transform: translate(5px, 5px) rotate(315deg);

}

.search-input{
	position: relative;
	width: 80%;
	height: 40px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-input input{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 16px;
	padding: 0 0 0 10px;
}

.search-clear{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 15px;
	height: 15px;
	right: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 95;
}

.search-clear::before{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #888;
	transform: rotate(45deg);
}

.search-clear::after{
	position: absolute;
	content: '';
	width: 1px;
	height: 15px;
	background: #888;
	transform: rotate(315deg);
}

/*------ HOME PAGE ------*/
h1{
	font-weight: 700;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}

.container{
	max-width: 1300px;
	margin: auto;
	padding: 0 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 50px;
	line-height: 600x;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
}

.btn:hover{
	background: #555;
}

header{
	background: radial-gradient(#fff, #ffd6d6);
	padding-top: 40px;
}

.categories{
	margin: 70px 0;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding: 0 25px;
}

.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%;
}

.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 160px;
	margin-bottom: 50px;
	transition: 0.5s;
}

.col-4:hover{
	transform: translateY(-10px);
}

.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4{
	color: #555;
	font-weight: normal;
}

.col-4 p{
	font-size: 14px;
}

.offer{
	background: radial-gradient(#fff, #ffd6d6);
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img{
	padding: 50px;
}

small{
	color: #555;
}

.testimonial{
	padding-top: 100px;
}

.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.5s;
	border-radius: 50px;
}

.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}


.testimonial .col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.services{
	margin: 100px auto;
}

.services .col-5{
	flex-basis: 20%;
	padding: 10px;
	min-width: 160px;
}

.services .col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
	transition: 0.3s;
}

.services .col-5 img:hover{
	filter: grayscale(0%);
}

footer{
	background: #000;
	color: #8a8a8a;
	padding: 60px 0 20px;
}

footer p{
	color: #8a8a8a;
	font-size: 14px;
}

.footer-col{
	min-width: 250px;
	margin-bottom: 20px;
	flex: 1;
	text-align: center;
}

footer ul{
	padding-top: 30px;
	list-style-type: none;
	display: flex;
	left: -50%;
	align-items: center;
	justify-content: center;
	text-align: center;
}

footer ul li{
	align-content: center;
}

footer ul li a{
	padding: 15px;
	font-size: 30px;
	width: 45px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 5px 2px;
	transition: 0.5s;
}

/*footer ul li a{
	text-align: center;
}*/

footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

/*------ PRODUCT PAGE ------*/
#products .row-2{
	justify-content: space-between;
	margin: 100px auto 50px;
}

#products select{
	margin: 10px 0 10px 10px;
	border: 1px solid #ff523b;
	padding: 5px;
}

#products select:focus{
	outline: none;
}

#products .page-btn{
	margin: 0 auto 80px;
}

#products .page-btn span{
	font-size: 14px;
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	transition: 0.5s;
}

#products .page-btn .off{
	background: #999 !important;
	border: 1px solid #333 !important;
	color: #333 !important;
	border-radius: 0 !important;
	cursor: default !important;
}

#products .page-btn span:hover{
	background: #ff523b;
	color: #fff;
	border-radius: 5px;
}

/*------ PRODUCT PAGE ------*/
#product-detail{
	margin-top: 80px;
}

#product-detail .alert{
	display: inline-block;
	top: 0;
	left: 50%;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: 300;
	box-sizing: border-box;
	border-radius: 15px;
	z-index: 100;
	background: rgba(35, 197, 82, 0);
	color: rgba(255, 255, 255, 0);
	animation: gone-green 6s;
}

@keyframes gone-green{
	from{
		background: rgba(35, 197, 82, 1);
		color: rgba(255, 255, 255, 1);
	} to {
		background: rgba(35, 197, 82, 0);
		color: rgba(255, 255, 255, 0);
	}
}

#product-detail .col-2 img{
	padding: 0;
}

#product-detail .col-2{
	padding: 20px;
}

#product-img{
	cursor: crosshair;
}

#product-detail h4{
	margin: 20px 0;
	font-weight: 22px;
	font-weight: bold;
}

#product-detail select{
	display: block;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #ff523b;
}

#product-detail select:focus{
	outline: none;
}

#product-detail input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}

#product-detail input:focus{
	outline: none;
}

#product-detail .material-icons{
	color: #ff523b;
	margin-left: 10px;
}

#product-detail .small-img-row{
	display: flex;
	justify-content: space-between;
}

#product-detail .small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

/*------ CART PAGE ------*/
#cart{
	padding-top: 40px;
	margin: 80px auto;
}

#cart .alert{
	display: block;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 20px;
	font-size: 14px;
	font-weight: 300;
	box-sizing: border-box;
	width: 80%;
	border-radius: 0 0 15px 15px;
	z-index: 100;
	position: fixed;
	background: rgba(248, 79, 49, 0);
	color: rgba(255, 255, 255, 0);
	animation: gone 6s;
}

@keyframes gone{
	from{
		background: rgba(248, 79, 49, 1);
		color: rgba(255, 255, 255, 1);
	} to {
		background: rgba(248, 79, 49, 0);
		color: rgba(255, 255, 255, 0);
	}
}

#cart .page-title{
	padding-bottom: 20px;
}

#cart table{
	width: 100%;
	border-collapse: collapse;
}

.cart-info{
	display: flex;
	flex-wrap: wrap;
}

#cart th{
	text-align: left;
	padding: 4px;
	color: #fff;
	background: #ff523b;
}

#cart td{
	padding: 10px 5px;
}

#cart td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}

#cart td .remove{
	color: #ff523b;
	font-size: 12px;
}

#cart .qty a{
	display: inline-block;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 35px;
	align-items: center;
	font-size: 24px;
	border-radius: 50%;
	border: 1px solid #ff523b;
	transition: 0.3s;
}

#cart .qty a:hover{
	background-color: #ff523b;
	color: #fff;
}

#cart .qty .plus{
	margin-left: 10px;
}

#cart .qty .min{
	margin-right: 10px;
}

#cart td img{
	width: 80px;
	height: 80px;
	margin: 10px;
}

.total-price{
	display: flex;
	justify-content: flex-end;
}

.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 350px;
}

#cart td:last-child, #cart th:last-child{
	text-align: right;
}

/*------ ACCOUNT PAGE ------*/
#account{
	background: radial-gradient(#fff, #ffd6d6);
	padding: 50px 0;
}

.form-container{
	background: #fff;
	width: 300px;
	height: 450px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.form-container span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}

.form-btn{
	display: inline-block;
}

.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: 1s;
}

#account .mb-4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #000;
	animation: warning 5s;
}

@keyframes warning{
	from{
		background: rgba(255,82,59, 1.0);
		color: #fff;
	} to {
		background: rgba(255,82,59, 0);
		color: #000;
	}
}

#account .credential{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
}

#account .credential:focus{
	outline: none;
	border: 2px solid #000;
}

#account .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

#account .btn:focus{
	outline: none;
}

#login-form{
	left: 0px;
}

#register-form{
	left: -300px;
}

#account a{
	font-size: 12px;
}

#account hr{
	width: 100px;
	border: none;
	background: #ff523b;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: 1s;
}

/*------ RESPONSIVE SETTINGS ------*/
@media only screen and (max-width: 800px){
	.responsive-bar{
		display: block;
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
		padding: 5px 20px;
		box-sizing: border-box;
		z-index: 99;
	}

	.responsive-bar .extra-menu span{
		float: right;
		color: #000;
		margin: 0;
		padding-right: 40px;
		line-height: 50px;
		cursor: pointer;
	}

	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
		background: #000;
		float: none;
		display: block;
		max-height: 0px;
	} 

	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}

	nav ul li:last-child{
		display: none;
	}

	nav ul li a{
		display: block;
		padding: 0;
		text-align: center;
		line-height: 30px;
		color: #fff;
	}

	nav ul li p{
		color: #ccc;
		margin-left: 30px;
	}


	.search{
		width: 60%;
	}
}

@media only screen and (max-width: 600px){
	.search-input{
		width: 70%;
	}

	.row{
		text-align: center;
	}

	.col-2, .col-3{
		flex-basis: 100%;
	}

	.col-4{
		flex-basis: 50%;
	}

	#product-detail .row{
		text-align: left;
	}

	#product-detail .col-2{
		padding: 20px;
	}

	#product-detail h1{
		font-size: 26px;
		line-height: 32px;
	}

	.cart-info p{
		display: none;
	}
}

@media only screen and (max-width: 480px){
	#cart .qty a{
		width: 20px;
		height: 20px;
		line-height: 16px;
		font-size: 16px;
	}

	#cart .qty .plus{
		margin-left: 5px;
	}

	#cart .qty .min{
		margin-right: 5px;
	}
}

@media only screen and (max-width: 380px){
	.search-input{
		width: 60%;
	}

	.col-4{
		flex-basis: 100%;
	}
}